
@main(Messages("page.leadership.title")) {
	
	<div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">@Messages("page.telephone_directory.codes") ( 04748 )( 0248 )</h3>
    </div>
    <div class="panel-body">
    
      <div class="row">
        <div class="col-md-4">@Messages("page.leadership.manager.title")</div>
		<div class="col-md-5"><dfn>@Messages("page.leadership.manager.name")</dfn></div>
		<div class="col-md-2">6-24-92</div>
	  </div><hr />
	  
      <div class="row">
        <div class="col-md-4">@Messages("page.leadership.secretar.title")</div>
		<div class="col-md-5"><dfn>@Messages("page.leadership.secretar.name")</dfn></div>
		<div class="col-md-2">6-24-92</div>
	  </div><hr />
	  
	  <div class="row">
	    <div class="col-md-4">@Messages("page.leadership.submanager.title")</div>
		<div class="col-md-5"><dfn>@Messages("page.leadership.submanager.name")</dfn></div>
		<div class="col-md-2">6-11-09</div>
	  </div><hr />
			
	  <div class="row">
	    <div class="col-md-4">@Messages("page.leadership.energosubmanager.title")</div>
		<div class="col-md-5"><dfn>@Messages("page.leadership.energosubmanager.name")</dfn></div>
		<div class="col-md-2">6-11-09</div>
	  </div><hr />
			
			<div class="row">
				<div class="col-md-4">@Messages("page.leadership.accounting.title")</div>
				<div class="col-md-5"><dfn>@Messages("page.leadership.accounting.name")</dfn></div>
				<div class="col-md-2">6-36-20</div>
			</div><hr />
			
			<div class="row">
			  <div class="col-md-4">@Messages("page.leadership.leadengineer.title")</div>
			  <div class="col-md-5"><dfn>@Messages("page.leadership.leadengineer.name")</dfn></div>
			  <div class="col-md-2">6-22-02</div>
			</div><hr />
			
			<div class="row">
			  <div class="col-md-4">@Messages("page.leadership.headcustomerservice.title")</div>
			  <div class="col-md-5"><dfn>@Messages("page.leadership.headcustomerservice.name")</dfn></div>
			  <div class="col-md-2">6-22-51</div>
			</div><hr />
						
			<div class="row">
			  <div class="col-md-4">@Messages("page.leadership.jurisconsult.title")</div>
			  <div class="col-md-5"><dfn>@Messages("page.leadership.jurisconsult.name")</dfn></div>
			  <div class="col-md-2">6-11-09</div>
			</div><hr />
			
			<div class="row">
			  <div class="col-md-4">@Messages("page.leadership.chiefdispatcher.title")</div>
			  <div class="col-md-5"><dfn>@Messages("page.leadership.chiefdispatcher.name")</dfn></div>
			  <div class="col-md-2">6-19-58</div>
			</div><hr />
			
			<div class="row">
			  <div class="col-md-4">@Messages("page.leadership.safetyengineer.title")</div>
			  <div class="col-md-5"><dfn>@Messages("page.leadership.safetyengineer.name")</dfn></div>
			  <div class="col-md-2">6-22-98</div>
			</div><hr />
			
			<div class="row">
			  <div class="col-md-4">@Messages("page.leadership.bookkeeper.title")</div>
			  <div class="col-md-5"><dfn>@Messages("page.leadership.bookkeeper.name")</dfn></div>
			  <div class="col-md-2">6-22-02</div>
			</div><hr />
			
			<div class="row">
			  <div class="col-md-4">@Messages("page.leadership.bookkeeperenergo.title")</div>
			  <div class="col-md-5"><dfn>@Messages("page.leadership.bookkeeperenergo.name")</dfn></div>
			  <div class="col-md-2">6-22-51</div>
			</div><hr />
			
			<div class="row">
			  <div class="col-md-4">@Messages("page.leadership.inspector.title")</div>
			  <div class="col-md-5"><dfn>@Messages("page.leadership.inspector.name")</dfn></div>
			  <div class="col-md-2">6-22-02</div>
			</div><hr />
			
			<div class="row">
			  <div class="col-md-4">@Messages("page.leadership.programmer.title")</div>
			  <div class="col-md-5"><dfn>@Messages("page.leadership.programmer.name")</dfn></div>
			  <div class="col-md-2">6-35-34</div>
			</div><hr />
			
			<div class="row">
			  <div class="col-md-4">@Messages("page.leadership.operator.title")</div>
			  <div class="col-md-5"><dfn>@Messages("page.leadership.operator.name")</dfn></div>
			  <div class="col-md-2">6-19-42</div>
			</div>
			
		</div>
	</div>
}