@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main(Messages("page.home.title")) {
	<div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">@Messages("page.home.title")</h3>
    </div>
    <div class="panel-body">
    	
    	@_mySession()
    	
    	<p>@Messages("page.home.description_1")</p>
    	@subjectNotPresent() {
    		<p>@Messages("page.home.description_2")</p>
    		<p>@Messages("page.home.description_3")</p>
    	}
    	
    </div>
  </div>
}