
@main(Messages("page.home.nameRegion")) {
	
	<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">@Messages("page.official.link")</h3>
    </div>
    <div class="panel-body">
      <h4>
        <p>@Messages("text.official.home") <a href="http://cherkasyoblenergo.com/" target="_blank">@Messages("page.home.nameRegion")</a>.</p>
        <p><a href="http://cherkasyoblenergo.com/kerivnyctvo" target="_blank">@Messages("text.official.leadership")</a> @Messages("page.home.nameRegion").</p>
        <p><a href="http://cherkasyoblenergo.com/ikc" target="_blank">@Messages("text.official.ikts.home")</a> @Messages("page.home.nameRegion").</p>
        <p>@Messages("page.home.nameRegion") <a href="http://cherkasyoblenergo.com/spojivacham" target="_blank">@Messages("text.official.customers")</a>.</p>
        <p><a href="http://cherkasyoblenergo.com/rem" target="_blank">@Messages("text.official.rens")</a> @Messages("page.home.nameRegion").</p>
        <p><a href="http://cherkasyoblenergo.com/istorija" target="_blank">@Messages("text.official.history")</a> @Messages("page.home.nameRegion").</p>
      </h4>
    </div>
  </div>
}